# gitignore for CODERIUM project

# Ignorando inforamcion de vulemenes creados
/Capturas de pantalla
/dbdata
/gitlab-config
/gitlab-data
/gitlab-logs
/portainer-data
/sonarcube
/sonarcube-db
/trivy

#ignorando carpetas de jenkins_home
/jenkins_home/caches/*
/jenkins_home/logs/*
/jenkins_home/workspace/*
